<!DOCTYPE html>
<html Lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ENTRUST</title>
        <!-- <link rel="stylesheet" href="public/stylesheets/lobby.css"> -->
        <link rel="stylesheet" href="../public/stylesheets/lobby.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>

    <body>
        <section>
            <div class="container">
                <header>
                    <a href="https://www.google.com/" class="logo">ENTRUST</a>

                    <div class="navbar">
                        <ul>
                            <li class="graph_o">
                                <img src="public/images/avatar3.png" alt="profile_img">
                                <!-- <img src="../public/images/avatar3.png" alt="profile_img"> -->
                            
                                <div class="menu">
                                    <!-- <div class="menu_left">
                                        <ul>
                                            <li><i class="fas fa-map-marker-alt"></i></li>
                                            <li><i class="far fa-plus-square"></i></li>
                                            <li><i class="far fa-star"></i></li>
                                            <li><i class="fas fa-cog"></i></li>
                                            <li><i class="fas fa-sign-out-alt"></i></li>
                                        </ul>
                                    </div> -->
                                    <div class="menu_right">
                                        <ul>
                                            <li>Circle</li>
                                            <li>HCE</li>
                                            <li>Friends</li>
                                            <li>Settings</li>
                                            <li id="logout">Logout</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>

            <div class="container_left">
                <aside>
                    <div class="box">
                        <!-- <h3>Popular Creator Rank List</h3> -->
                        <h3>All Friends</h3>

                        <button>
                            <span class="add_box">Add+</span>
                        </button>

                        <div class="addBox_input">
                            <ul>
                                <li>
                                    <form action="#">
                                        <label class="input-sizer">                                            
                                            <span>Input: </span>
                                            <input id="addFriendName" type="text" onInput="this.parentNode.dataset.value = this.value" size="4" placeholder="Username or email">
                                        </label>
                                        <input type="button" value="Invite Friends" onclick="newFriend();">
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar4.png">
                                <!-- <img src="../public/images/avatar4.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>1</h2>
                                <h4>Liza Koshy</h4>
                                <p>YouTuber/Social Media Personality</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar5.png">
                                <!-- <img src="../public/images/avatar5.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>2</h2>
                                <h4>Michael Hartono</h4>
                                <p>Entrepreneur</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar6.png">
                                <!-- <img src="../public/images/avatar6.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>3</h2>
                                <h4>Moby</h4>
                                <p>Musician</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar3.png">
                                <!-- <img src="../public/images/avatar3.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>4</h2>
                                <h4>Chris Jones</h4>
                                <p>Professional NFL Player</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar7.png">
                                <!-- <img src="../public/images/avatar7.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>5</h2>
                                <h4>ATB</h4>
                                <p>Professional DJ</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar7.png">
                                <!-- <img src="../public/images/avatar7.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>6</h2>
                                <h4>ATB</h4>
                                <p>Professional DJ</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar7.png">
                                <!-- <img src="../public/images/avatar7.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>7</h2>
                                <h4>ATB</h4>
                                <p>Professional DJ</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar7.png">
                                <!-- <img src="../public/images/avatar7.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>8</h2>
                                <h4>ATB</h4>
                                <p>Professional DJ</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar7.png">
                                <!-- <img src="../public/images/avatar7.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>9</h2>
                                <h4>ATB</h4>
                                <p>Professional DJ</p>
                            </div>
                        </div>

                        <div class="list">
                            <div class="imageBox">
                                <img src="public/images/avatar7.png">
                                <!-- <img src="../public/images/avatar7.png"> -->
                            </div>
                            <div class="content">
                                <h2 class="rank"><small>#</small>10</h2>
                                <h4>ATB</h4>
                                <p>Professional DJ</p>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>

            <div class="container_middle">
                <main>
                    <div class="box">
                        <h3>Operating platform</h3>
                    </div>
                </main>
            </div>
            <div class="container_middle_footer">
                <h3>Copyright @ 2023 Financial Technology Company. All Right Reserved.</h3>
                <h3>&copy; 2024 HowY'allDoing.com</h3>
            </div>
        </section>

        <section>
            <footer>
                <p>A B C D</p>
                <p>E F G H</p>
                <p>I J K L M N</p>
                <p>O P Q R S T </p>
                <p>U V W X Y Z</p>
                <p>--------------------------</p>
                <p>a b c d</p>
                <p>e f g h </p>
                <p>i j k l m n</p>
                <p>o p q r s t</p>
                <p>u v w x y z</p>
            </footer>
            <h2>what's up</h2>
        </section>
    </body>

    <script type="text/javascript" src="public/scripts/clientAJAX.js"></script>
    <script type="text/javascript" src="public/scripts/formCheck.js"></script>
    <script type="text/javascript" src="public/scripts/lobbyCounter.js"></script>
</html>